
.center-box{
    display: flex;
    background-color: #00107C;
    height: 288.852px;
    width: 919px;
    align-items: center;
    justify-content: center;
}   

.center-item{
    background-color: #FFE3BA;
    height: 85px;
    width: 85px; 
}   